<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>合同性质</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" />
    <link rel="stylesheet" href="../../layui/css/common.css" />
    <script type="text/javascript" src="../../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/cache.js"></script>
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <script type="text/javascript" src="../../js/layer.com.js"></script>
    <script type="text/javascript" src="../../js/service.js"></script>
    <script type="text/javascript" src="../../js/verify.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../lib/vue.js"></script>
    <script type="text/javascript" src="../../js/pager.js"></script>
  </head>
  <body class="bgf2f2f2">
    <div class="childrenBody">
      <div class="layui-card-body">
        <table class="layui-table" id="lst" lay-filter="lst"></table>
        <script type="text/html" id="upBar"></script>
      </div>
    </div>
    <div class="linePop">
      <div class="layui-card-body padding-r-50">
        <form class="layui-form layui-form2" id="workerinForm">
          <div class="layui-row">
            <input type="hidden" name="Id" v-model="id" value="" />
            <input type="hidden" name="WorkinStatus" v-model="workinStatus" value="2" />
            <input type="hidden" name="Type" v-model="type" value="1" />
            <input type="hidden" name="IsSystem" v-model="isSystem" value="0" />
            <input type="hidden" name="Type_Chinese" value="合同性质" e-value="ContractNature" />
            <div class="layui-form-item layui-col-md12 margin-b-20">
              <label class="layui-form-label">
                合同性质
                <span class="text-red">*</span>
              </label>
              <div class="layui-input-block">
                <input type="text" name="Name" v-model="name" required lay-verify="name" placeholder="合同性质" autocomplete="off" class="layui-input" />
              </div>
            </div>
            <div class="layui-form-item layui-col-md12 margin-b-20">
              <label class="layui-form-label">显示顺序</label>
              <div class="layui-input-block">
                <input type="text" name="SortId" v-model="sortId" value="0" required lay-verify="numHas" placeholder="显示顺序" autocomplete="off" class="layui-input" />
              </div>
            </div>
            <div class="layui-form-item layui-col-md12 margin-b-20">
              <label class="layui-form-label">备注</label>
              <div class="layui-input-block">
                <textarea class="layui-textarea" name="Memo" v-model="memo" placeholder="备注"></textarea>
              </div>
            </div>
          </div>
          <div class="layui-row text-right">
            <button class="layui-btn" lay-submit lay-filter="formDemo">确认</button>
            <span class="layui-btn layui-btn-primary" onclick="closePop()">返回</span>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    var elemUpHtml = window.globCache.getElementData('060201', 'upHtml');
    $('#upBar').html(elemUpHtml);
    var elemRightData = window.globCache.getElementData('060201', 'rightData');
    //获取button
    function getBtnHtml(isSystem) {
      var disabledClass = isSystem == 1 ? 'layui-btn-disabled' : '';
      var result = '';
      $.each(elemRightData, function(i, item) {
        result += '<a class="layui-btn layui-btn-xs ' + (item.class || '') + ' ' + disabledClass + '" lay-event="' + item.domId + '"><i class="layui-icon ' + (item.iconName || '') + '"></i>' + item.name + '</a>';
      });
      return result;
    }
  </script>
  <script type="text/javascript" src="../../js/basicinfo/basicinfo.js"></script>
</html>
