<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../../layui/css/layui.css" />
		<link rel="stylesheet" href="../../lib/ztree/css/metroStyle/metroStyle.css" type="text/css">
		<link rel="stylesheet" href="../../layui/css/common.css" />
		<script type="text/javascript" src="../../lib/jquery-1.8.3.min.js"></script>		
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<script type="text/javascript" src="../../js/service.js"></script>
		<script type="text/javascript" src="../../js/layer.com.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../lib/ztree/js/jquery.ztree.core.js"></script>
        <script type="text/javascript" src="../../lib/ztree/js/jquery.ztree.excheck.js"></script>
        <script type="text/javascript" src="../../lib/vue.js"></script>
	</head>
	<body class="bgf2f2f2">
		<div class="childrenBody">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
						<ul class="layui-tab-title">
                                <li onclick="javascript:window.location.href='offerRecord.html'">简历列表</li>
                                <li class="layui-this">简历详情</li>
                                <li onclick="goRecord()">面试记录</li>
						</ul>
						<div class="layui-tab-content">
							<div class="layui-tab-item layui-show">
								<form class="layui-form layui-form2 layui-form-info" id="resumeInfo">
									<div class="form-title">个人信息：</div>
									<div class="layui-row">
											<!-- v-if="user!=null" -->
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">个人姓名：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{userName}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">英文名称：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{englishName}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">个人性别：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{gender == 1 ? '男' : '女'}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">联系电话：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{linkPhone}}</div>
											</div>
										</div>			
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">个人邮箱：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{email}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">个人QQ：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{qq}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">所属民族：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{folk}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">个人籍贯：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{nativePlace}}</div>
											</div>
										</div>			
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">政治面貌：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{politicalStatus}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">身份证号：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{idCard}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">年龄：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{age}}</div>
											</div>
										</div>		
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">出生日期：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{birthDay.FormatDate(false)}}</div>
											</div>
										</div>				
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">毕业院校：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{graduateInstitutions}}</div>
											</div>
										</div>		
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">所学专业：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{professional}}</div>
											</div>
										</div>		
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">最高学历：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{degree}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">毕业时间：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{graduationDate.FormatDate(false)}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">身高CM：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{stature}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">体重KG：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{weight}}</div>
											</div>
										</div>		
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">婚姻状况：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{marriage}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">有无子女：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{children}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">招聘来源：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{recruitSource}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">应聘职位：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{jobCandidates}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">期望月薪：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{expectSalary}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md4 ">
											<label class="layui-form-label">到岗时间：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{arrivalTime}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md12 ">
											<label class="layui-form-label">身份证地址：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{idCardArea}}{{idCardAddress}}</div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md12 ">
											<label class="layui-form-label">居住地址：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{liveArea}}{{liveAddress}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md12 ">
											<label class="layui-form-label">兴趣爱好：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{hobby}}</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md12 ">
											<label class="layui-form-label">个人照片：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid"></div>
											</div>
										</div>	
										<div class="layui-form-item layui-col-md12 ">
											<label class="layui-form-label">证书证件：</label>
											<div class="layui-input-block">
												<div class="layui-form-mid">{{certificatePath}}</div>
											</div>
										</div>
									</div>									
									<hr class="layui-bg-blue hrheight3">
									<div class="layui-row">
										<div class="form-title clearnone">家庭成员及主要社会关系：</div>
										<div class="layui-form-item layui-col-md12 ">
											<table class="layui-table">
												<thead>
													<tr>
														<th class="table_label">姓名</th>
														<th class="table_label">关系</th>
														<th class="table_label">电话</th>
														<th class="table_label">通讯地址</th>
													</tr>
												</thead>
												<tbody v-for="item in basicRelations">
													<tr>
														<td>{{item.FamName}}</td>
														<td>{{item.FamRelations}}</td>
														<td>{{item.FamLinkPhone}}</td>
														<td>{{item.FamAddress}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<hr class="layui-bg-blue hrheight3">
									<div class="form-title">教育经历：</div>
									<div class="layui-row">
										<div class="layui-form-item layui-col-md12 ">
											<table class="layui-table">
												<thead>
													<tr>
														<th class="table_label">毕业院校</th>
														<th class="table_label">学历</th>
														<th class="table_label">性质</th>
														<th class="table_label">专业</th>
														<th class="table_label">学习年限</th>
													</tr>
												</thead>
												<tbody v-for="item in basicEducation">
													<tr>
															<td>{{item.EduFinishSchool}}</td>
															<td>{{item.EduDegree}}</td>
															<td>{{item.EduNature}}</td>
															<td>{{item.EduProfessional}}</td>
															<td>{{item.EduTime}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<hr class="layui-bg-blue hrheight3">
									<div class="form-title">工作经历：</div>
									<div class="layui-row">
										<div class="layui-form-item layui-col-md12 ">
											<table class="layui-table">
												<thead>
													<tr>
														<th width="150" class="table_label">工作年限</th>
														<th class="table_label">公司名称</th>
														<th class="table_label">部门</th>
														<th class="table_label">职位</th>
														<th class="table_label">离职原因</th>
													</tr>
												</thead>					
												<tbody v-for="item in basicWork">
													<tr>
															<td>{{item.WorkTime}}</td>
															<td>{{item.WorkCompanyName}}</td>
															<td>{{item.WorkDepartment}}</td>
															<td>{{item.WorkPosition}}</td>
															<td>{{item.WorkQuitReason}}</td>
													</tr>
													<tr>
														<td class="table_label">主要成绩</td>
														<td colspan="4">{{item.WorkDescribe}}</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
									<div class="layui-row">
										<div class="layui-form-item">
											<div class="layui-input-block text-right">
												<button type="reset" class="layui-btn layui-btn-primary" onclick="javascript:window.location.href='offerRecord.html'">返回</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <script type="text/javascript">
        var model = {
					//先给默认值
					id : 0,
                    companyId: 1,
                    userName: '',
                    englishName: '',
                    gender: 1,
                    linkPhone: '',
                    email: '',
                    qq: '',
                    folk: '',
                    nativePlace: '',
                    politicalStatus: '',
                    idCard: '',
                    age: '',
                    birthDay: '',
                    graduateInstitutions: '',
                    professional: '',
                    degree: '',
                    graduationDate: '',
                    stature: '',
                    weight: '',
                    marriage: '未婚',
                    children: '无',
                    recruitSource: '',
					jobCandidates: '',
					jobYears: '',
                    expectSalary: '',
                    arrivalTime: '',
                    idCardProvince: '',
                    idCardCity: '',
                    idCardCounty: '',
                    idCardArea: '',
                    idCardAddress: '',
                    liveProvince: '',
                    liveCity: '',
                    liveCounty: '',
                    liveArea: '',
                    liveAddress: '',
                    hobby: '',
                    photoPath: '',
                    certificatePath: '',
                    family: '',
                    education: '',
                    work: '',
                    departmentId: 0,
                    positionId: 0,
                    employeeNo: '',
                    officePhone: '',
                    officeEmail: '',
                    faxNumber: '',
                    referees: '',
                    officeAddress: '',
					positionDescribe: '',
					basicRelations: [], //社会关系
					basicEducation:[], //教育经历
					basicWork:[],//工作经历
            };
			
            var id = GetPara('id');
			var vm = new Vue({ el: '#resumeInfo', data: model});
            layui.use([ 'table','element','laydate','rate'], function() {
					var table = layui.table,
						element = layui.element,
						laydate = layui.laydate,
						rate = layui.rate;
						Serv.Get('gc/Resume/GetInfo/' + id, {},function (response) {
							model.id = response.id;
							model.userName = response.userName;
							model.companyId = response.companyId;
							model.englishName = response.englishName;
							model.gender = response.gender;
							model.linkPhone = response.linkPhone;
							model.email = response.email;
							model.qq = response.qq;
							model.folk = response.folk;
							model.nativePlace = response.nativePlace;
							model.politicalStatus = response.politicalStatus;
							model.idCard = response.idCard;
							model.age = response.age;
							model.birthDay = response.birthDay;
							model.graduateInstitutions = response.graduateInstitutions;
							model.professional = response.professional;
							model.degree = response.degree;
							model.graduationDate = response.graduationDate;
							model.stature = response.stature;
							model.weight = response.weight;
							model.marriage = response.marriage;
							model.children = response.children;
							model.recruitSource = response.recruitSource;
							model.jobCandidates = response.jobCandidates;
							model.jobYears = response.jobYears;
							model.expectSalary = response.expectSalary;
							model.arrivalTime = response.arrivalTime;
							model.idCardProvince = response.idCardProvince;
							model.idCardCity = response.idCardCity;
							model.idCardCounty = response.idCardCounty;
							model.idCardArea = response.idCardArea;
							model.idCardAddress = response.idCardAddress;
							model.liveProvince = response.liveProvince;
							model.liveCity = response.liveCity;
							model.liveCounty = response.liveCounty;
							model.liveArea = response.liveArea;
							model.liveAddress = response.liveAddress;
							model.hobby = response.hobby;
							model.photoPath = response.photoPath;
							model.certificatePath = response.certificatePath;
							model.family = response.family;
							model.education = response.education;
							model.work = response.work;
							model.departmentId = response.departmentId;
							model.positionId = response.positionId;
							model.employeeNo = response.employeeNo;
							model.officePhone = response.officePhone;
							model.officeEmail = response.officeEmail;
							model.faxNumber = response.faxNumber;
							model.referees = response.referees;
							model.officeAddress = response.officeAddress;
							model.positionDescribe = response.positionDescribe;
							model.basicRelations = JSON.parse(response.family);
							model.basicEducation = JSON.parse(response.education);
							model.basicWork = JSON.parse(response.work);
							// model = response;
							vm.$set({ data: model });
						})
			    });	
			function goRecord(){
				window.location.href = "/pages/recruit/offerRecordView.html?id=" + id;
			}
		</script>
	</body>
</html>
