<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="../../layui/css/layui.css" />
		<link rel="stylesheet" href="../../lib/ztree/css/metroStyle/metroStyle.css" type="text/css">
		<link rel="stylesheet" href="../../layui/css/common.css" />
		<script type="text/javascript" src="../../lib/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../../js/common.js"></script>
		<script type="text/javascript" src="../../layui/layui.js"></script>
		<script type="text/javascript" src="../../lib/ztree/js/jquery.ztree.core.js"></script>
        <script type="text/javascript" src="../../lib/ztree/js/jquery.ztree.excheck.js"></script>
        <script type="text/javascript" src="../../js/service.js"></script>
        <script type="text/javascript" src="../../lib/vue.js"></script>
	</head>
	<body class="bgf2f2f2">
		<div class="childrenBody">
			<div class="layui-card">
				<div class="layui-card-body">
					<div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
						<ul class="layui-tab-title">
                                <li onclick="javascript:window.location.href='resumeList.html'">简历列表</li>
                                <li onclick="GoDetails()">简历详情</li>
                                <li class="layui-this">面试记录</li>
						</ul>
						<div class="layui-tab-content">						
							<div class="layui-tab-item layui-show">
								<div class="form-title">面试结果：</div>
								<form class="layui-form layui-form2">
									<div class="layui-row">
										<div class="layui-form-item layui-col-md6 ">
											<label class="layui-form-label">面试方式<span class="text-red"> *</span></label>
											<div class="layui-input-block" id="divsel">
												
											</div>
										</div>
										<div class="layui-form-item layui-col-md6">
											<label class="layui-form-label">选择面试人<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<span class="layui-btn layui-btn-normal" onclick="user_popup($('#user_sel_box'))"><i class="layui-icon layui-icon-add-1"></i>选择面试人</span>
											</div>
										</div>
										<div class="layui-form-item layui-col-md12" >
											<label class="layui-form-label">面试人<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<div id="user_sel_box"  style="padding-top:7px">
													
												</div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md12 ">
											<label class="layui-form-label">面试内容<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<textarea class="layui-textarea" name="Content" v-model="content"></textarea>
											</div>
										</div>
										<div class="layui-form-item layui-col-md12 ">
											<label class="layui-form-label">面试意见<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<textarea class="layui-textarea" name="Opinion" v-model="opinion"></textarea>
											</div>
										</div>
										<div class="layui-form-item layui-col-md6 ">
											<label class="layui-form-label">仪容仪表<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<div id="rate1" class="rate" tscore="1"></div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md6">
											<label class="layui-form-label">沟通表达<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<div id="rate2" class="rate" tscore="1"></div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md6">
											<label class="layui-form-label">专业知识<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<div id="rate3" class="rate" tscore="1"></div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md6 ">
											<label class="layui-form-label">亲和力<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<div id="rate4" class="rate" tscore="1"></div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md6 ">
											<label class="layui-form-label">逻辑思维<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<div id="rate5" class="rate" tscore="1"></div>
											</div>
										</div>
										<div class="layui-form-item layui-col-md6 ">
											<label class="layui-form-label">综合评分<span class="text-red"> *</span></label>
											<div class="layui-input-block">
												<div id="rate6" class="rate" tscore="1"></div>
											</div>
										</div>
									</div>
									<div class="layui-row">
										<div class="layui-form-item">
											<div class="layui-input-block text-right">
												<button type="reset" class="layui-btn">面试未通过</button>
												<button type="reset" class="layui-btn">发送OFFER</button>
												<button type="reset" class="layui-btn" lay-submit lay-filter="btnSave">保存</button>
												<button type="reset" class="layui-btn layui-btn-primary">返回</button>
											</div>
										</div>
									</div>
									<hr class="layui-bg-blue hrheight3">
									<div class="form-title">过往面试结果：</div>
									<div id="divRecord">
                                        
                                    </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="menuContent" class="menuContent" style="display:none; position: absolute;background: #fff;">
			<ul id="treeDemo" class="ztree" style="width: 100%;"></ul>
        </div>
        <script type="text/javascript" src="../../js/resume/resumerecord.js"></script>
        <script type="text/javascript">
			var data_col = [[
				{type: 'numbers', title: '序号'},
				{field: 'name', title: '姓名'},
				{field: 'sex', title: '性别',width:60},
				{field: 'age', title: '年龄',width:60},
				{field: 'mobile', title: '联系电话'},
				{field: 'zw', title: '应聘职位'},
				{field: 'gz_y', title: '工作年限',width:100},
				{field: 'gz', title: '期望月薪',width:100},
				{field: 'dg', title: '到岗时间'},
				{field: 'zt', title: '状态'},
				{title:'操作',toolbar:'#toolbar',width:180,fixed:'right'}
			]];
			var datas = [
				{name:'张三',sex:'男',age:'22',mobile:'15333333333',mail:'12414@qq.com',zw:'开发工程师',gz_y:'2',qw_city:'成都',jz_city:'成都',gz:'6000',dg:'随时',zt:'面试中'},
				{name:'李四',sex:'男',age:'22',mobile:'15333333333',mail:'12414@qq.com',zw:'开发工程师',gz_y:'2',qw_city:'成都',jz_city:'成都',gz:'6000',dg:'3天内',zt:'已面试'},
				{name:'王五',sex:'男',age:'22',mobile:'15333333333',mail:'12414@qq.com',zw:'开发工程师',gz_y:'2',qw_city:'成都',jz_city:'成都',gz:'6000',dg:'一周内',zt:'已面试'},
			];
			layui.use([ 'table','element','laydate'], function() {
				var table = layui.table,
					element = layui.element,
					laydate = layui.laydate;
					//rate = layui.rate;
					
					table.render({
						elem: '#lst',
						data: datas,
						cols: data_col,
						toolbar:'#bar',
						page:true,
						height:'full-110',
						even: true,
					});
					laydate.render({
						elem: '#date1' //指定元素
					});
					laydate.render({
						elem: '#date2' //指定元素
					});
					lay('.date3').each(function(){
						laydate.render({
						  elem: this,type: 'month',range: true
						});
					});
					
			});
			
			var setting = {
				check: {
					enable: true,
					chkStyle: "radio",
					radioType: "all"
				},
				view: {
					dblClickExpand: false
				},
				data: {
					simpleData: {
						enable: true
					}
				},
				callback: {
					beforeClick: beforeClick,
					onCheck: onCheck
				}
			};
			var zNodes =[
					{
						name: "四川某某公司",
						open: true,
						nocheck:true,
						children: [{
								name: "销售部",
								children: [{
									name: "销售1部",
									children: [{
										name: "销售1组"
									}]
								}]
							},
							{
								name: "市场部",
							},
							{
								name: "策划部",
								children: [{
									name: "策划1部"
							
								}]
							}
						]
					}
				  ];
					
			function beforeClick(treeId, treeNode) {
				var zTree = $.fn.zTree.getZTreeObj("treeDemo");
				zTree.checkNode(treeNode, !treeNode.checked, null, true);
				return false;
			}
			
			function onCheck(e, treeId, treeNode) {
				var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
				nodes = zTree.getCheckedNodes(true),
				v = "";
				for (var i=0, l=nodes.length; i<l; i++) {
					v += nodes[i].name + ",";
				}
				if (v.length > 0 ) v = v.substring(0, v.length-1);
				var cityObj = $("#treeIpt");
				cityObj.attr("value", v);
			}
			
			function showMenu() {
				var cityObj = $("#treeIpt");
				var cityOffset = $("#treeIpt").offset();
				$("#menuContent").css({left:cityOffset.left + "px", top:cityOffset.top + cityObj.outerHeight() + "px",width:cityObj.outerWidth() + "px"}).slideDown("fast");
			
				$("body").bind("mousedown", onBodyDown);
			}
			function hideMenu() {
				$("#menuContent").fadeOut("fast");
				$("body").unbind("mousedown", onBodyDown);
			}
			function onBodyDown(event) {
				if (!(event.target.id == "menuBtn" || event.target.id == "treeIpt" || event.target.id == "menuContent" || $(event.target).parents("#menuContent").length>0)) {
					hideMenu();
				}
			}
			
			$(document).ready(function(){
				$.fn.zTree.init($("#treeDemo"), setting, zNodes);
			});
		</script>
	</body>
</html>
