<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title></title>
	<link rel="stylesheet" href="../../layui/css/layui.css" />
	<link rel="stylesheet" href="../../lib/ztree/css/metroStyle/metroStyle.css" type="text/css">
	<link rel="stylesheet" href="../../layui/css/common.css" />
	<link rel="stylesheet" href="../../lib/pick-pcc/pick-pcc.css" />
	<script type="text/javascript" src="../../lib/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../../layui/layui.js"></script>
	<script type="text/javascript" src="../../js/service.js"></script>
	<script type="text/javascript" src="../../js/layer.com.js"></script>
	<script type="text/javascript" src="../../js/common.js"></script>	
	<script type="text/javascript" src="../../js/verify.js"></script>
	<script type="text/javascript" src="../../lib/vue.js"></script>
	<script type="text/javascript" src="../../lib/ztree/js/jquery.ztree.core.js"></script>
	<script type="text/javascript" src="../../lib/ztree/js/jquery.ztree.excheck.js"></script>
	<script type="text/javascript" src="../../lib/pick-pcc/pick-pcc.js"></script>
	<script type="text/javascript" src="../../js/jquery.jarea.js"></script>
	<script type="text/javascript" src="../../js/ztree.radio.js"></script>
</head>
<style>
		.layui-table-box,
		.layui-table-body {
			position: relative;
			overflow: inherit !important;
		}

		.layui-table-cell {
			overflow: visible !important;
		}
	</style>
<body class="bgf2f2f2">
	<div class="childrenBody" id="resumeBody">
		<div class="layui-card">
			<div class="layui-card-body">
				<div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
					<ul class="layui-tab-title">
						<li onclick="javascript:window.location.href='resumeList.html'">简历列表</li>
						<li class="layui-this" onclick="javascript:window.location.href='resumeAdd.html'">添加简历</li>
					</ul>
					<div class="layui-tab-content">
						<div class="layui-tab-item layui-show">
							<form class="layui-form layui-form2" autocomplete="off">

								<input type="hidden" name="id" v-model="person.id" value="0">
								<input type="hidden" name="companyId" v-model="person.companyId" value="0">

								<div class="form-title">个人信息：</div>
								<div class="layui-row">
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>个人姓名</label>
										<div class="layui-input-block">
											<input type="text" name="userName" v-model="person.userName" maxlength="20"
												required lay-verify="name" placeholder="个人姓名" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">英文名称</label>
										<div class="layui-input-block">
											<input type="text" name="englishName" v-model="person.englishName"
												maxlength="50" placeholder="英文名称" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>个人性别</label>
										<div class="layui-input-block">
											<select name="gender" lay-filter="gender" v-model="person.gender">
												<option value="1">男</option>
												<option value="2">女</option>
											</select>
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>联系电话</label>
										<div class="layui-input-block">
											<input type="text" name="linkPhone" v-model="person.linkPhone"
												maxlength="20" required lay-verify="name|phone" placeholder="联系电话"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">个人邮箱</label>
										<div class="layui-input-block">
											<input type="text" name="email" v-model="person.email" maxlength="50"
												required lay-verify="emailHas" placeholder="个人邮箱" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">个人QQ</label>
										<div class="layui-input-block">
											<input type="text" name="qq" v-model="person.qq" maxlength="20" required
												lay-verify="numHas" placeholder="个人QQ" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>所属民族</label>
										<div class="layui-input-block">
											<input type="text" name="folk" v-model="person.folk" maxlength="50" required
												lay-verify="name" placeholder="所属民族" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>个人籍贯</label>
										<div class="layui-input-block">
											<input type="text" name="nativePlace" v-model="person.nativePlace"
												maxlength="50" required lay-verify="name" placeholder="个人籍贯"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>政治面貌</label>
										<div class="layui-input-block">
											<input type="text" name="politicalStatus" v-model="person.politicalStatus"
												maxlength="50" required lay-verify="name" placeholder="政治面貌"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>身份证号</label>
										<div class="layui-input-block">
											<input type="text" name="idCard" v-model="person.idCard" maxlength="30"
												required lay-verify="name|card" placeholder="身份证号" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>年龄</label>
										<div class="layui-input-block">
											<input type="text" name="age" v-model="person.age" maxlength="4" required
												lay-verify="name|numNotZore" placeholder="年龄" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>出生日期</label>
										<div class="layui-input-block">
											<input type="text" id="birthDay" name="birthDay" v-model="person.birthDay"
												readonly required lay-verify="name" placeholder="出生日期"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>毕业院校</label>
										<div class="layui-input-block">
											<input type="text" name="graduateInstitutions"
												v-model="person.graduateInstitutions" maxlength="50" required
												lay-verify="name" placeholder="毕业院校" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>所学专业</label>
										<div class="layui-input-block">
											<input type="text" name="professional" v-model="person.professional"
												maxlength="50" required lay-verify="name" placeholder="所学专业"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>最高学历</label>
										<div class="layui-input-block">
											<select name="degree" v-model="person.degree" required lay-verify="select"
												placeholder="最高学历" lay-filter="degree">
												<option value="">请选择</option>
												<option v-if="basicEducation.length>0" v-for="item in basicEducation"
													:value="item.name">{{item.name}}</option>
											</select>
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>毕业时间</label>
										<div class="layui-input-block">
											<input type="text" id="graduationDate" name="graduationDate"
												v-model="person.graduationDate" readonly required lay-verify="name"
												placeholder="毕业时间" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">身高CM</label>
										<div class="layui-input-block">
											<input type="text" name="stature" v-model="person.stature" maxlength="5"
												required lay-verify="numHas" placeholder="身高" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">体重KG</label>
										<div class="layui-input-block">
											<input type="text" name="weight" v-model="person.weight" maxlength="5"
												required lay-verify="numHas" placeholder="体重" class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">婚姻状况</label>
										<div class="layui-input-block">
											<select name="marriage" v-model="person.marriage" lay-filter="marriage">
												<option value="已婚">已婚</option>
												<option value="未婚">未婚</option>
											</select>
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">有无子女</label>
										<div class="layui-input-block">
											<select name="children" v-model="person.children" lay-filter="children">
												<option value="无">无</option>
												<option value="有">有</option>
											</select>
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label">招聘来源</label>
										<div class="layui-input-block">
											<select name="recruitSource" v-model="person.recruitSource"
												lay-filter="recruitSource">
												<option value="">请选择</option>
												<option v-if="basicRecruitment.length>0"
													v-for="item in basicRecruitment" :value="item.name">{{item.name}}
												</option>
											</select>
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>应聘职位</label>
										<div class="layui-input-block">
											<input type="text" name="jobCandidates" v-model="person.jobCandidates"
												maxlength="50" required lay-verify="name" placeholder="应聘职位"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>期望月薪(税前)</label>
										<div class="layui-input-block">
											<input type="text" name="expectSalary" v-model="person.expectSalary"
												maxlength="50" required lay-verify="name" placeholder="期望月薪（税前）"
												class="layui-input">
										</div>
									</div>
									<div class="layui-form-item layui-col-md4 margin-b-20">
										<label class="layui-form-label"><span class="text-red"> *</span>到岗时间</label>
										<div class="layui-input-block">
											<select name="arrivalTime" v-model="person.arrivalTime" required
												lay-verify="select" placeholder="到岗时间" lay-filter="arrivalTime">
												<option value="">请选择</option>
												<option v-if="basicArrival.length>0" v-for="item in basicArrival"
													:value="item.name">{{item.name}}</option>
											</select>
										</div>
									</div>
									<div class="layui-form-item layui-col-md12 margin-b-20">
										<label class="layui-form-label">身份证地址</label>
										<div class="layui-input-block">
											<div class="pick-area pick-area1 margin-b-5"></div>
											<input type="hidden" name="idCardArea" class="_idCardArea" required
												lay-verify="areaHas" placeholder="身份证地址" value="" data-areacode="">
											<input type="text" name="idCardAddress" v-model="person.idCardAddress"
												maxlength="100" placeholder="请输入身份证详细地址" class="layui-input">
											<input type="hidden" name="idCardProvince" v-model="person.idCardProvince">
											<input type="hidden" name="idCardCity" v-model="person.idCardCity">
											<input type="hidden" name="idCardCounty" v-model="person.idCardCounty">
										</div>
									</div>
									<div class="layui-form-item layui-col-md12 margin-b-20">
										<label class="layui-form-label">居住地址</label>
										<div class="layui-input-block">
											<div class="pick-area pick-area1 margin-b-5"></div>
											<input type="hidden" name="liveArea" class="_liveArea" required
												lay-verify="areaHas" placeholder="居住地址" value="" data-areacode="">
											<input type="text" name="liveAddress" v-model="person.liveAddress"
												maxlength="100" placeholder="请输入居住详细地址" class="layui-input">
											<input type="hidden" name="liveProvince" v-model="person.liveProvince">
											<input type="hidden" name="liveCity" v-model="person.liveCity">
											<input type="hidden" name="liveCounty" v-model="person.liveCounty">
										</div>
									</div>
									<div class="layui-form-item layui-col-md12 margin-b-20">
										<label class="layui-form-label">兴趣爱好</label>
										<div class="layui-input-block">
											<textarea class="layui-textarea" name="hobby"
												v-model="person.hobby"></textarea>
										</div>
									</div>
									<div class="layui-form-item layui-col-md12 margin-b-20">
										<label class="layui-form-label">个人照片</label>
										<div class="layui-input-block">
											<input type="hidden" name="photoPath" v-model="person.photoPath">
											<span class="layui-btn layui-btn-sm layui-btn-normal margin-t-3"><i
													class="layui-icon">&#xe67c;</i>上传照片</span>
										</div>
									</div>
									<div class="layui-form-item layui-col-md12 margin-b-20">
										<label class="layui-form-label">证书证件</label>
										<div class="layui-input-block">
											<input type="hidden" name="certificatePath"
												v-model="person.certificatePath">
											<span class="layui-btn layui-btn-sm layui-btn-normal margin-t-3"><i
													class="layui-icon">&#xe67c;</i>上传证件</span>
										</div>
									</div>
								</div>
								<hr class="layui-bg-blue hrheight3">
								<div class="form-title">家庭成员及主要社会关系：</div>
								<div class="layui-row">
									<input type="hidden" name="family" v-model="person.family">
									<div class="layui-form-item layui-col-md12 margin-b-20" id="familyPanel">
										<table class="layui-table" id="familyTable" lay-filter="familyTable"></table>
									</div>
								</div>
								<hr class="layui-bg-blue hrheight3">
								<div class="form-title">教育经历：</div>
								<div class="layui-row">
									<input type="hidden" name="education" v-model="person.education">
									<div class="layui-form-item layui-col-md12 margin-b-20" id="educationPanel">
										<table class="layui-table" id="educationTable" lay-filter="educationTable">
										</table>
									</div>
								</div>
								<hr class="layui-bg-blue hrheight3">
								<div class="form-title">工作经历：</div>
								<div class="layui-row">
									<input type="hidden" name="work" v-model="person.work">
									<div class="layui-form-item layui-col-md12 margin-b-20" id="workPanel">
										<table class="layui-table" id="workTable" lay-filter="workTable"></table>
									</div>
								</div>
								<div class="layui-row">
									<div class="layui-form-item">
										<div class="layui-input-block text-right">
											<input type="button" class="layui-btn layui-btn-danger" lay-submit
												lay-filter="basicInfo" value="确认" v-if="hasSubmit">
											<span class="layui-btn"
												onclick="javascript:window.location.href='/pages/recruit/resumeList.html'">返回</span>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div id="menuContent" class="menuContent" style="display:none; position: absolute;background: #fff;">
		<ul id="treeDemo" class="ztree" style="width: 100%;"></ul>
	</div>
	<script type="text/javascript" src="../../js/resume/resume.js"></script>
</body>

</html>