<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="../../layui/css/layui.css" />
    <link rel="stylesheet" href="../../layui/css/select.css" />
    <link rel="stylesheet" href="../../lib/ztree/css/metroStyle/metroStyle.css" type="text/css" />
    <link rel="stylesheet" href="../../layui/css/common.css" />
    <link rel="stylesheet" href="../../lib/pick-pcc/pick-pcc.css" />
    <script type="text/javascript" src="../../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../js/service.js"></script>
    <script type="text/javascript" src="../../js/cache.js"></script>
    <script type="text/javascript" src="../../js/verify.js"></script>
    <script type="text/javascript" src="../../lib/vue.js"></script>
    <script type="text/javascript" src="../../lib/ztree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="../../lib/pick-pcc/pick-pcc.js"></script>
    <script type="text/javascript" src="../../js/jquery.jarea.js"></script>
    <script type="text/javascript" src="../../js/ztree.radio.js"></script>
    <style>
      .layui-table-box,
      .layui-table-body {
        position: relative;
        overflow: inherit !important;
      }

      .layui-table-cell {
        overflow: visible !important;
      }
    </style>
  </head>

  <body class="bgf2f2f2">
    <div class="childrenBody" id="personBody">
      <div class="layui-card">
        <div class="layui-card-body">
          <div class="layui-tab layui-tab-brief" lay-filter="component-tabs-brief">
            <ul class="layui-tab-title">
              <li class="layui-this">个人信息</li>
              <li>职位信息</li>
              <li>合同信息</li>
              <li>角色设置</li>
              <li>工资管理</li>
              <li>资产信息</li>
              <li>日程安排</li>
              <li>代办事宜</li>
              <li>考勤记录</li>
              <li>奖惩情况</li>
              <li>考核情况</li>
              <li>成长管理</li>
            </ul>
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show" tab-name="个人信息">
                <form class="layui-form layui-form2" autocomplete="off">
                  <input type="hidden" name="id" v-model="person.id" value="0" />
                  <input type="hidden" name="companyId" v-model="person.companyId" value="" />

                  <div class="form-title">个人信息：</div>
                  <div class="layui-row">
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        所属部门
                      </label>
                      <div class="layui-input-block">
                        <input type="hidden" name="dptId" v-model="person.dptId" />
                        <input type="text" name="dptName" v-model="person.dptName" required lay-verify="select" placeholder="所属部门" class="layui-input" readonly id="dptName" v-bind:data-id="person.dptId" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        所属职位
                      </label>
                      <div class="layui-input-block">
                        <select name="jobId" v-model="person.jobId||''" required lay-verify="select" placeholder="所属职位" lay-filter="jobId">
                          <option value="">请选择</option>
                          <option v-for="item in basicJob" :value="item.id">{{ item.name }}</option>
                        </select>
                      </div>
                    </div>

                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        个人姓名
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="userName" v-model="person.userName" maxlength="20" required lay-verify="name" placeholder="个人姓名" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">英文名称</label>
                      <div class="layui-input-block">
                        <input type="text" name="englishName" v-model="person.englishName" maxlength="50" placeholder="英文名称" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        个人性别
                      </label>
                      <div class="layui-input-block">
                        <select name="gender" lay-filter="gender" v-model="person.gender">
                          <option value="1">男</option>
                          <option value="2">女</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        联系电话
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="linkPhone" v-model="person.linkPhone" maxlength="20" required lay-verify="name|phone" placeholder="联系电话" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">个人邮箱</label>
                      <div class="layui-input-block">
                        <input type="text" name="email" v-model="person.email" maxlength="50" required lay-verify="emailHas" placeholder="个人邮箱" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">个人QQ</label>
                      <div class="layui-input-block">
                        <input type="text" name="qq" v-model="person.qq" maxlength="20" required lay-verify="numHas" placeholder="个人QQ" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        所属民族
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="folk" v-model="person.folk" maxlength="50" required lay-verify="name" placeholder="所属民族" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        个人籍贯
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="nativePlace" v-model="person.nativePlace" maxlength="50" required lay-verify="name" placeholder="个人籍贯" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        政治面貌
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="politicalStatus" v-model="person.politicalStatus" maxlength="50" required lay-verify="name" placeholder="政治面貌" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        身份证号
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="idCard" v-model="person.idCard" maxlength="30" required lay-verify="name|card" placeholder="身份证号" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        年龄
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="age" v-model="person.age" maxlength="4" required lay-verify="name|numNotZore" placeholder="年龄" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        出生日期
                      </label>
                      <div class="layui-input-block">
                        <input type="text" id="birthDay" name="birthDay" v-model="person.birthDay" readonly required lay-verify="name" placeholder="出生日期" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        毕业院校
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="graduateInstitutions" v-model="person.graduateInstitutions" maxlength="50" required lay-verify="name" placeholder="毕业院校" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        所学专业
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="professional" v-model="person.professional" maxlength="50" required lay-verify="name" placeholder="所学专业" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        最高学历
                      </label>
                      <div class="layui-input-block">
                        <select name="degree" v-model="person.degree" required lay-verify="select" placeholder="最高学历" lay-filter="degree">
                          <option value="">请选择</option>
                          <option v-for="item in basicEducation" :value="item.name">{{ item.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        毕业时间
                      </label>
                      <div class="layui-input-block">
                        <input type="text" id="graduationDate" name="graduationDate" v-model="person.graduationDate||''" readonly required lay-verify="name" placeholder="毕业时间" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">身高CM</label>
                      <div class="layui-input-block">
                        <input type="text" name="stature" v-model="person.stature" maxlength="5" required lay-verify="numHas" placeholder="身高" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">体重KG</label>
                      <div class="layui-input-block">
                        <input type="text" name="weight" v-model="person.weight" maxlength="5" required lay-verify="numHas" placeholder="体重" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">婚姻状况</label>
                      <div class="layui-input-block">
                        <select name="marriage" v-model="person.marriage" lay-filter="marriage">
                          <option value="已婚">已婚</option>
                          <option value="未婚">未婚</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">有无子女</label>
                      <div class="layui-input-block">
                        <select name="children" v-model="person.children" lay-filter="children">
                          <option value="无">无</option>
                          <option value="有">有</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">招聘来源</label>
                      <div class="layui-input-block">
                        <select name="recruitSource" v-model="person.recruitSource||''" lay-filter="recruitSource">
                          <option value="">请选择</option>
                          <option v-for="item in basicRecruitment" :value="item.name">{{ item.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        应聘职位
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="jobCandidates" v-model="person.jobCandidates" maxlength="50" required lay-verify="name" placeholder="应聘职位" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        期望月薪(税前)
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="expectSalary" v-model="person.expectSalary" maxlength="50" required lay-verify="name" placeholder="期望月薪（税前）" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md4 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        到岗时间
                      </label>
                      <div class="layui-input-block">
                        <select name="arrivalTime" v-model="person.arrivalTime||''" required lay-verify="select" placeholder="到岗时间" lay-filter="arrivalTime">
                          <option value="">请选择</option>
                          <option v-for="item in basicArrival" :value="item.name">{{ item.name }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">身份证地址</label>
                      <div class="layui-input-block">
                        <div class="pick-area pick-area1 margin-b-5"></div>
                        <input type="hidden" name="idCardArea" class="_idCardArea" required lay-verify="areaHas" placeholder="身份证地址" value="" data-areacode="" />
                        <input type="text" name="idCardAddress" v-model="person.idCardAddress" maxlength="100" placeholder="请输入身份证详细地址" class="layui-input" />
                        <input type="hidden" name="idCardProvince" v-model="person.idCardProvince" />
                        <input type="hidden" name="idCardCity" v-model="person.idCardCity" />
                        <input type="hidden" name="idCardCounty" v-model="person.idCardCounty" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">居住地址</label>
                      <div class="layui-input-block">
                        <div class="pick-area pick-area1 margin-b-5"></div>
                        <input type="hidden" name="liveArea" class="_liveArea" required lay-verify="areaHas" placeholder="居住地址" value="" data-areacode="" />
                        <input type="text" name="liveAddress" v-model="person.liveAddress" maxlength="100" placeholder="请输入居住详细地址" class="layui-input" />
                        <input type="hidden" name="liveProvince" v-model="person.liveProvince" />
                        <input type="hidden" name="liveCity" v-model="person.liveCity" />
                        <input type="hidden" name="liveCounty" v-model="person.liveCounty" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">兴趣爱好</label>
                      <div class="layui-input-block">
                        <textarea class="layui-textarea" name="hobby" v-model="person.hobby"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">个人照片</label>
                      <div class="layui-input-block">
                        <input type="hidden" name="photoPath" v-model="person.photoPath" />
                        <span class="layui-btn layui-btn-sm layui-btn-normal margin-t-3">
                          <i class="layui-icon">&#xe67c;</i>
                          上传照片
                        </span>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">证书证件</label>
                      <div class="layui-input-block">
                        <input type="hidden" name="certificatePath" v-model="person.certificatePath" />
                        <span class="layui-btn layui-btn-sm layui-btn-normal margin-t-3">
                          <i class="layui-icon">&#xe67c;</i>
                          上传证件
                        </span>
                      </div>
                    </div>
                  </div>
                  <hr class="layui-bg-blue hrheight3" />
                  <div class="form-title">家庭成员及主要社会关系：</div>
                  <div class="layui-row">
                    <input type="hidden" name="family" v-model="person.family" />
                    <div class="layui-form-item layui-col-md12 margin-b-20" id="familyPanel">
                      <table class="layui-table" id="familyTable" lay-filter="familyTable"></table>
                    </div>
                  </div>
                  <hr class="layui-bg-blue hrheight3" />
                  <div class="form-title">教育经历：</div>
                  <div class="layui-row">
                    <input type="hidden" name="education" v-model="person.education" />
                    <div class="layui-form-item layui-col-md12 margin-b-20" id="educationPanel">
                      <table class="layui-table" id="educationTable" lay-filter="educationTable"></table>
                    </div>
                  </div>
                  <hr class="layui-bg-blue hrheight3" />
                  <div class="form-title">工作经历：</div>
                  <div class="layui-row">
                    <input type="hidden" name="work" v-model="person.work" />
                    <div class="layui-form-item layui-col-md12 margin-b-20" id="workPanel">
                      <table class="layui-table" id="workTable" lay-filter="workTable"></table>
                    </div>
                  </div>
                  <div class="layui-row">
                    <div class="layui-form-item">
                      <div class="layui-input-block text-right">
                        <input type="button" class="layui-btn layui-btn-danger" lay-submit lay-filter="basicInfo" value="确认" v-if="hasSubmit" />
                        <span class="layui-btn" onclick="javascript:window.location.href='/pages/person/personList.html'">返回</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="layui-tab-item" tab-name="职位信息">
                <form class="layui-form layui-form2" autocomplete="off">
                  <div class="layui-row">
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        员工工号
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="employeeNo" v-model="person.employeeNo" maxlength="30" required lay-verify="name|code" placeholder="员工工号" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        在职状态
                      </label>
                      <div class="layui-input-block">
                        <select name="status" v-model="person.status" required lay-verify="select" placeholder="所属职位" lay-filter="status">
                          <option value="0">未入职</option>
                          <option value="1">试用</option>
                          <option value="2">转正</option>
                          <option value="3">离职</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">办公电话</label>
                      <div class="layui-input-block">
                        <input type="text" name="officePhone" v-model="person.officePhone" maxlength="50" required lay-verify="telHas" placeholder="办公电话" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">办公邮箱</label>
                      <div class="layui-input-block">
                        <input type="text" name="officeEmail" v-model="person.officeEmail" maxlength="50" required lay-verify="emailHas" placeholder="办公邮箱" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">传真号码</label>
                      <div class="layui-input-block">
                        <input type="text" name="faxNumber" v-model="person.faxNumber" maxlength="50" required lay-verify="faxHas" placeholder="传真号码" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">推荐人</label>
                      <div class="layui-input-block">
                        <input type="text" name="referees" v-model="person.referees" maxlength="20" placeholder="推荐人" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">办公地址</label>
                      <div class="layui-input-block">
                        <input type="text" name="officeAddress" v-model="person.officeAddress" maxlength="100" placeholder="办公地址" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">职位描述</label>
                      <div class="layui-input-block">
                        <textarea class="layui-textarea" name="positionDescribe" v-model="person.positionDescribe" maxlength="700" placeholder="职位描述"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="layui-row">
                    <div class="layui-form-item">
                      <div class="layui-input-block text-right">
                        <input type="button" class="layui-btn layui-btn-danger" lay-submit lay-filter="positionInfo" value="确认" v-if="hasSubmit" />
                        <span class="layui-btn" onclick="javascript:window.location.href='/pages/person/personList.html'">返回</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="layui-tab-item" tab-name="合同信息">
                <form class="layui-form layui-form2">
                  <div class="layui-row">
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        用工性质
                      </label>
                      <div class="layui-input-block">
                        <select>
                          <option>请选择用工性质</option>
                          <option>劳动合同</option>
                          <option>退休聘用协议</option>
                          <option>兼职协议</option>
                          <option>劳务派遣协议其他</option>
                          <option>其他</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        合同签定日期
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="合同签定日期" class="layui-input date" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        试用开始日期
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="试用开始日期" class="layui-input date" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        试用结束日期
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="试用结束日期" class="layui-input date" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">正式开始日期</label>
                      <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="正式开始日期" class="layui-input date" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">正式结束日期</label>
                      <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="正式结束日期" class="layui-input date" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">解除日期</label>
                      <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="解除日期" class="layui-input date" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">解除原因</label>
                      <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required" placeholder="解除原因" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">备注</label>
                      <div class="layui-input-block">
                        <textarea class="layui-textarea"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">合同附件</label>
                      <div class="layui-input-block">
                        <span class="layui-btn layui-btn-sm layui-btn-normal margin-t-3">
                          <i class="layui-icon">&#xe67c;</i>
                          上传附件
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="layui-row">
                    <div class="layui-form-item">
                      <div class="layui-input-block text-right">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="submit">确认</button>
                        <span class="layui-btn" onclick="history.back(-1)">返回</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="layui-tab-item" tab-name="角色设置">
                <form class="layui-form layui-form2">
                  <div class="layui-row">
                    <div class="layui-form-item">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        系统角色
                      </label>
                      <div class="layui-input-block">
                        <select multiple>
                          <option>选择角色</option>
                          <option>角色一</option>
                          <option>角色二</option>
                          <option>角色三</option>
                        </select>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        管理部门
                      </label>
                      <div class="layui-input-block">
                        <div class="layui-input">
                          <span class="layui-btn layui-btn-sm layui-btn-normal margin-t-3" onclick="user_popup()">请选择</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="layui-row">
                    <div class="layui-form-item">
                      <div class="layui-input-block text-right">
                        <button class="layui-btn layui-btn-danger" lay-submit lay-filter="submit">
                          确认
                        </button>
                        <span class="layui-btn" onclick="history.back(-1)">返回</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>

              <div class="layui-tab-item" tab-name="工资管理">
                <div class="form-title">工资账户：</div>
                <div class="layui-form layui-form2 layui-row">
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">
                      <span class="text-red">*</span>
                      开户银行
                    </label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入银行名称" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">
                      <span class="text-red">*</span>
                      开户名称
                    </label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入开户名称" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">
                      <span class="text-red">*</span>
                      银行账户
                    </label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入银行账户" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">
                      <span class="text-red">*</span>
                      预留手机
                    </label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入预留手机" />
                    </div>
                  </div>
                </div>
                <hr class="layui-bg-blue hrheight3" />
                <div class="form-title">
                  工资科目：
                  <span class="layui-btn layui-btn-xs layui-btn-normal" onclick="show_change()">工资调整</span>
                </div>
                <div class="layui-form layui-form2 layui-row">
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">
                      <span class="text-red">*</span>
                      基本工资
                    </label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入基本工资" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">餐费补助</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入餐费补助" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">话费补助</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入话费补助" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">交通补助</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入交通补助" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">高温补助</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入高温补助" />
                    </div>
                  </div>
                </div>
                <hr class="layui-bg-blue hrheight3" />
                <div class="form-title">保险科目：</div>
                <div class="layui-form layui-form2 layui-row">
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">养老保险</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="养老保险总金额" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">个人缴纳</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="养老保险个人缴纳" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">公司缴纳</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="养老保险公司缴纳" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">失业保险</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="请输入失业保险" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">个人缴纳</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="失业保险个人缴纳" />
                    </div>
                  </div>
                  <div class="layui-form-item layui-col-md4">
                    <label class="layui-form-label">公司缴纳</label>
                    <div class="layui-input-block">
                      <input type="text" class="layui-input" placeholder="失业保险公司缴纳" />
                    </div>
                  </div>
                </div>
                <div class="layui-row">
                  <div class="layui-form-item">
                    <div class="layui-input-block text-right">
                      <button class="layui-btn layui-btn-danger" lay-submit lay-filter="submit">
                        确认
                      </button>
                      <span class="layui-btn" onclick="history.back(-1)">返回</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="layui-tab-item" tab-name="资产信息"></div>
              <div class="layui-tab-item" tab-name="日程安排"></div>
              <div class="layui-tab-item" tab-name="代办事宜"></div>
              <div class="layui-tab-item" tab-name="考勤记录"></div>
              <div class="layui-tab-item" tab-name="奖惩情况"></div>
              <div class="layui-tab-item" tab-name="考核情况"></div>

              <div class="layui-tab-item" tab-name="成长管理">
                <form class="layui-form layui-form2" autocomplete="off">
                  <input type="hidden" name="id" v-model="training.id" value="0" />
                  <input type="hidden" name="personId" v-model="person.id" value="" />

                  <div class="layui-row">
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        培训课程
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="course" v-model="training.course" maxlength="100" required lay-verify="name" placeholder="培训课程" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        培训机构
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="institutions" v-model="training.institutions" maxlength="100" required lay-verify="name" placeholder="培训机构" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        开始时间
                      </label>
                      <div class="layui-input-block">
                        <input type="text" id="startDate" name="startDate" v-model="training.startDate" required lay-verify="name" placeholder="开始时间" class="layui-input" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        结束时间
                      </label>
                      <div class="layui-input-block">
                        <input type="text" id="endDate" name="endDate" v-model="training.endDate" required lay-verify="name" placeholder="开始时间" class="layui-input" readonly />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        培训地点
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="address" v-model="training.address" maxlength="200" required lay-verify="name" placeholder="培训地点" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">
                        <span class="text-red">*</span>
                        培训内容
                      </label>
                      <div class="layui-input-block">
                        <textarea name="content" v-model="training.content" maxlength="1500" required lay-verify="name" placeholder="培训内容" class="layui-textarea"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">所获荣誉</label>
                      <div class="layui-input-block">
                        <textarea name="honor" v-model="training.honor" maxlength="800" placeholder="所获荣誉" class="layui-textarea"></textarea>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">附件</label>
                      <div class="layui-input-block">
                        <input type="hidden" name="attachment" v-model="training.attachment" />
                        <span class="layui-btn layui-btn-sm layui-btn-normal margin-t-3">
                          <i class="layui-icon">&#xe67c;</i>
                          上传照片
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="layui-row">
                    <div class="layui-form-item">
                      <div class="layui-input-block text-right">
                        <input type="button" class="layui-btn layui-btn-danger" lay-submit lay-filter="training" value="确认" v-if="hasSubmit" />
                        <span class="layui-btn" onclick="javascript:window.location.href='/pages/person/personList.html'">返回</span>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="deptTreeContent" class="menuContent" style="display:none; position: absolute;background: #fff">
      <ul id="deptTree" class="ztree" style="width: 100%; height: 400px; overflow-y: auto"></ul>
    </div>

    <div class="linePop" id="wages_popup">
      <div class="layui-card-body padding-r-50">
        <form class="layui-form layui-form2">
          <div class="layui-row">
            <div class="layui-form-item layui-col-md12 margin-b-20">
              <label class="layui-form-label">
                <span class="text-red">*</span>
                调整事由
              </label>
              <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入调整事由" class="layui-input" />
              </div>
            </div>
            <div class="layui-form-item layui-col-md12 margin-b-20">
              <label class="layui-form-label">
                <span class="text-red">*</span>
                执行日期
              </label>
              <div class="layui-input-block">
                <input type="text" name="title" required lay-verify="required" placeholder="请输入执行日期" class="layui-input date" readonly />
              </div>
            </div>
            <div class="layui-form-item layui-col-md12 margin-b-20">
              <label class="layui-form-label">调整备注</label>
              <div class="layui-input-block">
                <textarea class="layui-textarea" placeholder="请输入调整备注"></textarea>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script type="text/javascript" src="../../js/person/personEdit.js"></script>
  </body>
</html>
