<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>公告通知添加</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" />
    <link rel="stylesheet" href="../../layui/css/common.css" />
    <link rel="stylesheet" href="../../lib/pick-pcc/pick-pcc.css" />
    <script type="text/javascript" src="../../lib/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../js/cache.js"></script>
    <script type="text/javascript" src="../../layui/layui.js"></script>
    <script type="text/javascript" src="../../js/layer.com.js"></script>
    <script type="text/javascript" src="../../js/service.js"></script>
    <script type="text/javascript" src="../../js/verify.js"></script>
    <script type="text/javascript" src="../../js/common.js"></script>
    <script type="text/javascript" src="../../lib/pick-pcc/pick-pcc.js"></script>
    <script type="text/javascript" src="../../lib/vue.js"></script>
    <script type="text/javascript" src="../../lib/wangEditor/wangEditor.min.js"></script>
  </head>

  <body class="bgf2f2f2">
    <div class="childrenBody" style="background:none;">
      <div class="layui-col-md12 layui-col-sm12" style="background: #fff;">
        <div class="layui-card-body">
          <div class="layui-tab layui-tab-brief" lay-filter="brief">
            <div class="layui-tab-content">
              <div class="layui-tab-item layui-show">
                <form class="layui-form layui-form2" lay-filter="frm">
                  <div class="layui-row">
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <input type="hidden" name="id" v-model="id" value="0" />
                      <input type="hidden" name="PublisherId" v-model="PublisherId" value="0" />
                      <input type="hidden" name="PublisherName" v-model="PublisherName" value="" />
                      <input type="hidden" name="DepartmentName" v-model="DepartmentName" value="" />
                      <label class="layui-form-label">
                        标题
                        <span class="text-red">*</span>
                      </label>
                      <div class="layui-input-block">
                        <input type="text" name="Title" required lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md6 margin-b-20">
                      <label class="layui-form-label">是否强制阅读</label>
                      <div class="layui-input-block">
                        <input type="radio" name="IsNeedRead" value="0" title="否" checked />
                        <input type="radio" name="IsNeedRead" value="1" title="是" />
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">
                        查看人类型
                        <span class="text-red">*</span>
                      </label>
                      <div class="layui-input-block">
                        <span class="layui-btn layui-btn-normal" onclick="user_popup($('#rec_box'),'user,department,company,position')">
                          <i class="layui-icon layui-icon-add-1"></i>
                          选择人员
                        </span>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">
                        查看人
                        <span class="text-red">*</span>
                      </label>
                      <div class="layui-input-block">
                        <div class="margin-t-10" id="rec_box"></div>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">
                        公告内容
                        <span class="text-red">*</span>
                      </label>
                      <!-- <div class="layui-input-block">
											<textarea class="layui-textarea" placeholder="请输入公告内容" id="Content"></textarea>											
										</div> -->
                      <!-- <div class="layui-input-block" id="Content"></div> -->
                      <div class="layui-input-block">
                        <input type="hidden" name="content" />
                        <div id="E_Content"></div>
                      </div>
                    </div>
                    <div class="layui-form-item layui-col-md12 margin-b-20">
                      <label class="layui-form-label">
                        公告附件
                        <span class="text-red">*</span>
                      </label>
                      <div class="layui-input-block">
                        <button type="button" id="certificateBtn" class="layui-btn layui-btn-sm layui-btn-normal margin-t-3">
                          <i class="layui-icon">&#xe67c;</i>
                          上传附件
                        </button>
                        <div class="attach-list">
                          <ul id="certificatePanel"></ul>
                        </div>
                      </div>
                    </div>
                    <div class="layui-row">
                      <div class="layui-form-item">
                        <div class="layui-input-block text-right">
                          <button class="layui-btn layui-btn-danger" lay-submit lay-filter="noteAdd">确认</button>
                          <button class="layui-btn layui-btn-danger" lay-submit lay-filter="noteAddAgain">确认并继续添加</button>
                          <span class="layui-btn" onclick="history.back(-1)">返回</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script>
		var rec_type;

		layui.use(['table', 'element', 'form', 'layedit'], function () {
			var table = layui.table,
				element = layui.element,
				form = layui.form,
				layedit = layui.layedit;

			layedit.build('editor1', { height: 360 });
			form.on('select(rec_type)', function (data) {
				rec_type = data.value;
				$("#sel_item_box .sel_item").hide();
				$("#rec_box").html('');
				$("#sel_item_box select").val(-1);
				form.render('select');
				switch (rec_type) {
					case "user"://按人员
						$("#sel_item_box #sel_user_item").show();
						break;
					case "department"://部门
						$("#sel_item_box #sel_company_item,#sel_item_box #sel_department_item").show();
						break;
					case "company"://公司
						$("#sel_item_box #sel_company_item").show();
						break;
					case "position"://职位
						$("#sel_item_box #sel_company_item,#sel_item_box #sel_position_item").show();
						break;
					case "0":
						break;
				}
			});
			form.on('select(sel_company)', function (data) {
				var value = data.value;
				var text = data.elem[data.elem.selectedIndex].text;
				on_select('company', value, text);
			});
			form.on('select(sel_department)', function (data) {
				var value = data.value;
				var text = data.elem[data.elem.selectedIndex].text;
				on_select('department', value, text);
			});
			form.on('select(sel_position)', function (data) {
				var value = data.value;
				var text = data.elem[data.elem.selectedIndex].text;
				on_select('position', value, text);
			});

		function on_select(this_type, value, text) {
			if (value > -1) {
				if (value == 0) {
					$("#rec_box").html('');
				} else {
					$("#rec_box input").each(function (i, obj) {
						if ($(obj).val() == value || $(obj).val() == 0) {
							sel_remove(obj);
						}
					});
				}
				if (rec_type == this_type) {
					var html = build_sel_html(this_type, value, text);
					$("#rec_box").append(html);
				}
			}
		}
	})
	 </script> -->
    <script type="text/javascript" src="../../js/note/noteAdd.js"></script>
  </body>
</html>
